node_modules/
out/
dist/
release/

native/bin/
*.exe
*.dll
*.pdb
*.obj
*.ilk
*.blockmap

.env
.env.*
config.json

*.log
npm-debug.log*
.npm/

*.tsbuildinfo
.eslintcache
coverage/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
*.suo
*.user
.vs/
